{% extends "portal/portal.html" %}
{% comment %}
  Main page of the portal.
{% endcomment %}

{% block title %}
  
{% endblock %}
{% block style %}
<style>
</style>
{% endblock %}




  {% block nav %}
 <div class="navbar-brand pull-right">Welcome, {{user}}</div>
{% endblock %}
	
{% block content %}
<div class="container-fluid" style="padding-top:80px;">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">	
				<form action="/portal/suggestion/" method="post">		
		 {% csrf_token %}
		
					<textarea  name="suggestion" style="margin-bottom:5px;" type="text" class="form-control" placeholder="Please write your suggestion  here"></textarea>
<div class="pull-left" id="error_suggestion">
{{error_suggestion}}
</div>
					<span><button class="btn btn-default pull-right" type="submit">POST</button></span>
				</form>
			</div>
		</div>


	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="border-right:1px solid #5882FA;border-left:1px solid #5882FA;box-shadow:1px 1px 1px;margin-top:2%">
			<ul style="padding:10px;list-style-type:none">
				{% for  suggestion in suggestion %}
					<li>
					<div style="padding:2%">
						<p>{{suggestion.message}}</p>
					<br>
					<p class="pull-left" style="color:#610B38">{{suggestion.date_time}}</p>
					<span><p class="pull-right" style="color:#610B38">{{suggestion.roll_no.first_name}}</p>
					</span>
					</div>
				
				</li>
				<hr style="border-color:#8258FA;box-shadow:0px 1px 1px">	
			{% endfor %}

</ul>		
		
		</div>
	</div>	
</div>


{% endblock %}
