{% extends "base1.html" %}
{% comment %}
  Main page to authenticate users.
{% endcomment %}

{% block head %}
  <title>Room Allocation|Login</title>
<style>
#back{
background: rgb(233,246,253); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(211,238,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,246,253,1)), color-stop(100%,rgba(211,238,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-9 */


}
#navbar
{
background: rgb(239,239,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(239,239,239,1) 1%, rgba(252,252,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(239,239,239,1)), color-stop(100%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 1%,rgba(252,252,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(239,239,239,1) 1%,rgba(252,252,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(239,239,239,1) 1%,rgba(252,252,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(239,239,239,1) 1%,rgba(252,252,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */

}
#button{
border:1px solid #0066FF;
color:#0066FF;
background-color:#FFF;

}
.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
.image-text{




}
#link{
cursor:pointer;}
</style>
{% endblock %}

{% block body %}
	
<div class="container-fluid">  
		<nav class="navbar navbar-fixed-top"  id="navbar" role="navigation" style="background-color:#FFF;border-bottom:2px solid #1975D1
">
			  <div class="navbar-header">
     				 <a class="navbar-brand" href="/portal/">Room Allocation</a>
   				</div>	
				<div class="pull-right"><a id="link" class="navbar-brand" onclick="show(1);">How To Apply</a><span class="navbar-text">|</span><a id="link"  class="navbar-brand" onclick="show(2);">About Us</a><span class="navbar-text">|</span><a id="link"  class="navbar-brand" onclick="show(3);">Contact</a>
				</div>
		</nav>  	
		
				

		<div class="row" style="padding-top:7%">
		<div class="col-md-9" >

{% if  error %}
<div id="error_msg"  class="alert alert-danger alert-dismissable">
   <button type="button" class="close" data-dismiss="alert" 
      >
      &times;
   </button>
  <span id="notify_error">{{error}}</span>
</div>	
{% else %}

{% endif %}			
<div style="border:1px solid #5C8AE6
;border-left:1px solid #FFF;border-top:1px solid #FFF;box-shadow: 1px 3px 3px;margin:1%;border-radius:4px">
		<div  style="height:550px;overflow-y:auto;margin:1%">			
		<div id="show1" style="display:block">		
		<h1 >How To Apply</h1>
		<hr style="margin:1%">
			<div style="margin:1%">			
					<p>Register to portal if you haven't registered yet.</p>
<p><h3>Registration procedure:</h3></p>
<p>1.Click on SignUp button. </p>
<p>2.Fill up all the details. After submitting details a mail will be sent to your account for confirmation. </p>
<p>3.Confirm by clicking the link sent to you in previous step. </p>
<p>4.Fill up all the personal details and submit the form.</p>
<p><h3>Allocation procedure:</h3></p>
<p>1.Login to your acount.</p>
<p>2.Check availability and set your preferences.</p>
<p>3.If room is available, it will be allocated else request will be sent to the current owner of the room.</p>
<p>4.If owner accepts your request, it will be allocated else try for some other room.</p>
<p>If no preferences are set then room will be allocated randomly.</p>
			
			
			</div>

			</div>
<div id="show2" style="display:none"> 
<h1 >About Us</h1>
		<hr style="margin:1%">
				<div style="margin:1%">
<p>We are a bunch of Computer Science Junior Undergrads studying in IIT BHU.</p>
<p>This site is designed with the sole of motive of speeding up the process of room allocation<br>by digitizing it and saving the students from unwanted hussle and bussle</p>

      </div>
</div>
<div id="show3" style="display:none">
<h1 >Contact Us</h1>
		<hr style="margin:1%">
				<hr style="margin:1%">
<div style="margin:1%">
      <div class="row">
          <div class="col-md-6">
                <div class="circle pull-left" style="background-image:url('/static/images/tanay.jpg');">
                </div>
                <span class="image-text" style="position:absolute;top:15%;left:39%;"><h4>Tanay Sharma</h4><p>tanay.sharma.cse12@iitbhu.ac.in<br>9956919622</p></span>



          </div>
          <div class="col-md-6">
            <div class="circle pull-left" style="background-image:url('/static/images/amitosh.jpg');">
                </div>
                 <span class="image-text" style="position:absolute;top:15%;left:39%;"><h4>Amitosh Anand</h4><p>amitosh.anand.cse12@iitbhu.ac.in<br>8574049233</p></span>
          </div>


      </div>
<div class="row">
          <div class="col-md-6">
                <div class="circle pull-left" style="background-image:url('/static/images/sainyam.jpg');">
                </div>
                <span class="image-text" style="position:absolute;top:15%;left:39%;"><h4>Sainyam Kapoor</h4><p>sainyam.kapoor.cse12@iitbhu.ac.in<br>8601201034</p></span>



          </div>
          <div class="col-md-6">
            <div class="circle pull-left" style="">
                </div>
                 <span class="image-text" style="position:absolute;top:15%;left:39%;"><h4>Shivanju Awasthi</h4><p>shivanju.awasthi.cse12@iitbhu.ac.in<br>8005464065</p></span>
          </div>
          

      </div>


      </div>

		</div>
    </div>		
</div>
	  </div>   

  

		<div class="col-md-3 "  >	
			<div class="row" style="margin:4%">
				<div class="col-md-12">		
		<section  style="border:1px solid #59ACFF
;border-radius:5px;">
		<div  id="back" style="padding:4%;background-color:#85C2FF

">
		Login			
		</div>
    	{% if form.errors %}
      <p>Your username and password didn't match</p>
    {% endif %}
     
	<div style="padding:4%;">
	
    <form id="t" method="post" action="/login/">
 
	{% csrf_token %}
      <p>
        <label for="id_username">Roll Number:</label>
        <input type="text" class="form-control" name="username" value=""/>
       
</p>
      <p>
        <label for="id_password">Password:</label>
         <input type="password" class="form-control" name="password" value=""/>
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/portal/" />
      {% endif %}
      <input class="btn btn-primary" id="button" type="submit" value="login" />

<span class="float-right"><a onclick="pass_open()">Forgot Password</a> </span>		
 

</form>
	</div>  	

</section>
	</div>
	</div>	
<hr>
<div class="row" style="margin:4%">
				<div class="col-md-12">		
		<section  style="border:1px solid #59ACFF
;border-radius:5px;">
		<div  id="back" style="padding:4%;background-color:#85C2FF

">
		New User??			
		</div>
  <p>Lets sign you Up!!!</p>
<div class="pull-right"><button class="btn btn-primary" onclick="signUp_open()"id="signUp" >Signup</button>
</div>	
 

	

</section>
	</div>
	</div>	

</div>
	</div>
</div>

<div class="modal fade" id="pass_recovery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Password Recovery</h4>
      </div>
	
	     
	<div class="modal-body">
       
	<input id="roll" class="form-control"  type="text" placeholder="Please enter your username for passowrd recovery">
	<br>	  
	<div id="message">
			{{message}}	
		</div>
<div id="progress" style="display:none">
		<p>Sending mail....</p>  
		<div   class="progress progress-striped active">
				
		 <div class="progress-bar progress-bar-success" role="progressbar" 
    				  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
    				  style="width: 100%;">
     				 <span class="sr-only">100% Complete</span>
   			</div>
		</div>	
</div>	
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="recover" type="submit" data-loading-text="Loading..." class="btn btn-primary">Recover</button>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">SignUp</h4>
      </div>
	
	     
	<div class="modal-body">
       
     
	<div style="padding:4%;">
	
    <form method="post" action="/signup/">
{% csrf_token %}

<p></p>      

      <p>
        <label for="id_email">Email:</label>
        <input type="text" class="form-control" value="{{email}}" name="email"/>
       
</p>    
	<p>
        <label for="id_roll">Roll No.:</label>
         <input maxlength="10" size=10 type="text" class="form-control" value="{{roll_no}}" name="roll"/>
      </p>
	<p>
        <label for="id_pass">Password:</label>
         <input type="password" class="form-control"  name="pass"/>
      </p>
<p>
        <label for="id_cpass">Confirm Password:</label>
         <input type="password" class="form-control" name="cpass"/>
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/portal/" />
      {% endif %}
<span class="validation_error">{{ captcha_response }}</span>
        
            <script type="text/javascript"
            src="http://api.recaptcha.net/challenge?k=6LdEWv0SAAAAAN5ytyl3_a3MsxOZkx5sTqA_Eztu">
            </script>
            
            <noscript>
            <iframe src="http://api.recaptcha.net/noscript?k=6LdEWv0SAAAAAN5ytyl3_a3MsxOZkx5sTqA_Eztu"
            height="300" width="300" frameborder="0"></iframe><br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field" 
            value="manual_challenge">
            </noscript>
	
 

    


	
	</div>  	


      </div>
      <div class="modal-footer">
        <input class="btn btn-primary" id="button" type="submit" value="Register" />
</form>        
      </div>

    </div>
  </div>
</div>

<script>
function show(a){

var temp1=document.getElementById('show1');
var temp2=document.getElementById('show2');
var temp3=document.getElementById('show3');
temp1.style.display='none';
temp2.style.display='none';
temp3.style.display='none';
if(a==1)
temp1.style.display='block';
else if(a==2)
temp2.style.display='block';
else
temp3.style.display='block';
}
function pass_open(){

$('#pass_recovery').modal('show');
}

function signUp_open(){

$('#sign_up').modal('show');
}

</script>

{% endblock %}
